# pycache files
*.pyc
__pycache__/

# Spyder project settings
.spyderproject/
.spyproject/

# Dask workers
dask-worker-space/

# Processing folders
_backup/
_temp_files/
log.txt

# Build folders
dist/
build/
*.egg-info/

# Test DB
tests/processes/NFL.db
